.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* opacity: 0; */
}

:root {
  --font-family: Roboto, sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --head-foot-bgcolor: #2f303a;
  --btn-prime-color: #ffffff;
  --btn-second-color: #f5f4fa;
  --greeting-words-color: #ffffff;
  --icons-color: #afb1b8;
  --footer-icons: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

ul {
  list-style: none;
}

.image {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: var(--font-family);
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.head__logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head__logo:focus, .head__logo:hover {
  color: var(--accent-color);
}

.logostyle {
  color: var(--accent-color);
}

.foot-logo {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (max-width: 1199px) {
  .foot-logo,
  .head__logo {
    padding: 0;
    margin: 0;
    font-size: 24px;
    line-height: 1.17;
  }
}

.greeting__primary.button {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.greeting__primary.button:hover, .greeting__primary.button:focus {
  background-color: #188ce8;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-head-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal-field + .modal-field {
  margin-top: 10px;
}

.modal-field:nth-child(4) {
  margin-bottom: 30px;
}

.modal-text {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-field {
  display: flex;
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal-input:not(:placeholder-shown), .modal-input:focus {
  border: 1px solid var(--accent-color);
}

.input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translate(0, -50%);
}

.modal-input:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
}

.modal-textarea:focus {
  border: 1px solid var(--accent-color);
}

.modal-textarea::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

.modal-field-license {
  display: flex;
  align-items: center;
  margin: 0 12px;
  margin-bottom: 30px;
}

.check-mark {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 25px;
}

.input-icon-check {
  position: absolute;
  top: 50%;
  left: 0;
  fill: #ffffff;
  width: 16px;
  height: 15px;
  transform: translate(0, -50%);
  border: 1px solid #212121;
}

.input-check:checked + .check-text .input-icon-check {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.policy-head {
  margin-left: 7px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .policy-head {
    font-size: 14px;
    line-height: 1.5;
  }
}

.policy-agreement {
  color: var(--accent-color);
  text-decoration: underline;
}

.submit-button {
  background-color: var(--accent-color);
  color: var(--btn-prime-color);
  padding: 10px 55px;
  border-radius: 4px;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:focus, .submit-button:hover {
  background-color: #188ce8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.social-network {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-network__icon-link-item + .social-network__icon-link-item {
  margin-left: 10px;
}

.icon-link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  fill: var(--icons-color);
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover, .icon-link:focus {
  background-color: var(--accent-color);
  fill: var(--btn-prime-color);
  outline: 1px solid transparent;
}

.modal {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
  width: 96vw;
  height: 96vh;
  max-width: 450px;
  max-height: 610px;
  overflow: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    max-height: 581px;
  }
}

.btn-close {
  width: 30px;
  height: 30px;
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;
  display: flex;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.btn-close-icon {
  width: 18px;
  height: 18px;
  margin: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close-icon:hover {
  fill: var(--accent-color);
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-left: -8px;
}

@media screen and (min-width: 768px) {
  .filter {
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .item-btn {
    margin-top: 15px;
    margin-left: 8px;
  }
}

@media screen and (min-width: 768px) {
  .item-btn + .item-btn {
    margin-left: 8px;
  }
}

.btn {
  background-color: #f5f4fa;
  border: 1px transparent;
  border-radius: 4px;
}

.filter .btn.primary {
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  padding: 6px 22px;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .btn.primary:hover, .filter .btn.primary:focus {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter .btn.second {
  color: var(--title-text-color);
  padding: 6px 22px;
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter .btn.second:hover, .filter .btn.second:focus {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.head {
  border-bottom: 1px solid #ececec;
}

.container-nav {
  display: none;
}

.contacts {
  display: none;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  margin: 10px 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.burger-btn:hover, .burger-btn:focus {
  fill: var(--accent-color);
}

.headstyle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-svg {
  width: 40px;
  height: 40px;
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.menu-container {
  position: relative;
}

.mobile-container {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.mobile-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-close-btn:hover, .mobile-close-btn:focus {
  fill: var(--accent-color);
}

.close-icon-mobile {
  width: 40px;
  height: 40px;
}

.mobile-nav {
  margin-top: 33px;
  margin-left: 25px;
  margin-bottom: -32px;
}

.mobile-item {
  margin-bottom: 32px;
}

.mobile-item:hover .mobile-item-link,
.mobile-item:focus .mobile-item-link {
  color: var(--accent-color);
}

.mobile-item-link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
}

.contact-item-tel {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  margin-left: 25px;
}

.contact-item-mail {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  display: block;
  margin-top: 32px;
  margin-bottom: 64px;
  margin-left: 25px;
}

.mobile-social-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-social {
  display: flex;
  margin-left: 25px;
}

.mobile-social-item + .mobile-social-item {
  padding: 0 10px;
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-social-item:nth-child(1) {
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
  .burger-btn {
    display: none;
  }
  .container-nav {
    display: block;
  }
  .contacts {
    display: block;
    margin-left: auto;
    margin: 21px 0;
  }
  .cont-site {
    display: flex;
    align-items: baseline;
  }
  .site-nav .link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
  }
  .link.current {
    position: relative;
    color: var(--accent-color);
  }
  .link.current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .contacts__contacts-link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__contacts-link:focus, .contacts__contacts-link:hover {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  .contacts__contacts-item {
    fill: var(--primary-text-color);
  }
  .contacts__contacts-item + .contacts__contacts-item {
    margin-top: 10px;
  }
  .container-nav__list-nav + .container-nav__list-nav {
    margin-left: 50px;
  }
  .icon-decoration-mail {
    margin-right: 10px;
    width: 14px;
    height: 10px;
  }
  .icon-decoration-tel {
    margin-right: 10px;
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: flex;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contacts__contacts-item + .contacts__contacts-item {
    margin-left: 50px;
    margin-top: 0;
  }
  .contacts__contacts-link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .icon-decoration-mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }
  .icon-decoration-tel {
    margin-right: 10px;
    width: 10px;
    height: 16px;
  }
}

.greeting {
  background-color: var(--head-foot-bgcolor);
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero-bg-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  padding: 118px 0;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .greeting {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/x2/hero-bg-mobile@2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .greeting {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero-bg-tablet.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .greeting {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/x2/hero-bg-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .greeting {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/hero-bg-desktop.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .greeting {
    background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background/x2/hero-bg-desktop@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .greeting {
    padding: 200px 0;
  }
}

.greeting__greeting-title {
  color: var(--greeting-words-color);
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 360px;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .greeting__greeting-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.features {
  padding-bottom: 60px;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__features-icons {
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
}

.features__features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__features-title {
    text-align: left;
  }
}

.features__features-list {
  margin-top: -30px;
}

@media screen and (min-width: 768px) {
  .features__features-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__features-item {
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .features__features-item {
    flex-basis: calc((100% / 2 - 30px));
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__features-item {
    flex-basis: calc((100% / 4 - 30px));
    margin-left: 30px;
  }
}

.work {
  display: none;
  padding-bottom: 94px;
}

@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}

.work__examples-work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.work__examples-list {
  display: flex;
  margin-top: 50px;
}

.work__examples-item {
  position: relative;
  width: 370px;
}

.work__examples-item + .work__examples-item {
  margin-left: 30px;
}

.work__examples-description {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  padding: 27px 0;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team-list {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team-list {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.profile .profile__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.profile .profile__profession {
  font-size: 16px;
  line-height: 1.19;
}

.profile .profile__profile-description {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-list__team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team-list__team-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 768px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .profile {
    margin-left: -30px;
  }
}

.profile__team-item {
  background-color: #ffffff;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .profile__team-item {
    flex-basis: calc((100% / 2 - 30px));
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .profile__team-item {
    margin-top: 30px;
    flex-basis: calc((100% / 4 - 30px));
    margin-left: 30px;
  }
}

.profile__profession {
  margin-top: 10px;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
    line-height: 1.16;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients-item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    max-width: 170px;
    margin-top: 50px;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  fill: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  outline: 1px solid transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:focus, .clients-link:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients-link-icon {
  width: 106px;
  height: 60px;
}

.footer-section {
  background-color: var(--head-foot-bgcolor);
  padding: 60px 0;
}

.basement {
  display: flex;
  text-align: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .basement {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .basement {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: baseline;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo-address {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .logo-address {
    margin-left: auto;
  }
}

.address-text {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  margin-top: 20px;
}

.list-ident {
  margin-top: 8px;
}

.ident + .ident {
  margin-top: 8px;
}

.address-text.ident {
  margin-top: 20px;
}

.foot-link {
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-link:hover, .foot-link:focus {
  color: var(--accent-color);
}

.email-box::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-link-list {
  margin: 60px auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social-link-list {
    margin: 0 auto 0 165px;
  }
}

@media screen and (min-width: 1200px) {
  .social-link-list {
    margin: 0 0 0 70px;
  }
}

.social-link-head {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer-social-list {
  display: flex;
  margin-top: 20px;
}

.foot-social-item + .foot-social-item {
  margin-left: 10px;
}

.icon-link-footer {
  display: inline-flex;
  width: 44px;
  height: 44px;
  fill: var(--footer-icons);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link-footer:hover, .icon-link-footer:focus {
  background-color: var(--accent-color);
  outline: 1px solid transparent;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .form-container {
    width: 450px;
    margin: 60px auto 0;
  }
}

@media screen and (min-width: 1200px) {
  .form-container {
    margin: 0 auto 0 93px;
    width: 570px;
  }
}

.form-container-head {
  color: var(--btn-prime-color);
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: auto;
  height: auto;
}

.join-form {
  display: block;
}

@media screen and (min-width: 1200px) {
  .join-form {
    display: flex;
  }
}

.email-box {
  background-color: var(--head-foot-bgcolor);
  padding: 15px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .email-box {
    width: 358px;
    height: 50px;
    margin-right: 12px;
  }
}

.email-box:focus {
  outline: 1px solid var(--accent-color);
}

input[type='email'] {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.submit-btn {
  color: var(--btn-prime-color);
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  padding: 10px 29px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  margin: 20px auto 0;
}

@media screen and (min-width: 1200px) {
  .submit-btn {
    margin: 0;
  }
}

.submit-icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--btn-prime-color);
}

.prime {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .prime {
    padding: 94px 0;
  }
}

.work-list .item-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-list .item {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

.list-item-link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-link:focus, .list-item-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .work-list {
    margin-top: -30px;
    margin-left: -30px;
  }
}

.list-item + .list-item {
  margin-top: 30px;
}

.list-item {
  display: flex;
}

@media screen and (min-width: 768px) {
  .list-item {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .list-item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.description-card {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}

.pop-up-window {
  position: relative;
  overflow: hidden;
}

.pop-up-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item-link:focus .pop-up-text,
.list-item-link:hover .pop-up-text {
  transform: translate(0);
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */