.team-list {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;
  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.profile .profile__name {
  color: var(--title-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.profile .profile__profession {
  font-size: 16px;
  line-height: 1.19;
}
.profile .profile__profile-description {
  padding-top: 30px;
  padding-bottom: 24px;
  text-align: center;
}

.team-list__team-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
.profile {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: -30px;
  }
}

.profile__team-item {
  background-color: #ffffff;

  margin-top: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% / 2 - 30px));
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 30px;
    flex-basis: calc((100% / 4 - 30px));
    margin-left: 30px;
  }
}
.profile__profession {
  margin-top: 10px;
}
