.prime {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.work-list .item-title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.work-list .item {
  color: var(--primary-text-color);

  font-size: 16px;
  line-height: 1.87;
}
.list-item-link {
  display: flex;
  flex-direction: column;
  // width: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    // outline: none;
  }
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  // margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    margin-top: -30px;
    margin-left: -30px;
  }
}
.list-item + .list-item {
  margin-top: 30px;
}
.list-item {
  display: flex;
  // margin-bottom: 30px;
  @media screen and(min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
  @media screen and(min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.description-card {
  flex-grow: 1;
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0px;
}
.pop-up-window {
  position: relative;

  overflow: hidden;
}
.pop-up-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 100%);

  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;

  // text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .list-item-link:focus &,
  .list-item-link:hover & {
    transform: translate(0);
    color: #ffffff;
  }
}
