.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-head-title {
  display: block;

  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}
.modal-field + .modal-field {
  margin-top: 10px;
}
.modal-field:nth-child(4) {
  margin-bottom: 30px;
}
.modal-text {
  margin-bottom: 4px;
  display: block;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
}
.modal-form-field {
  display: flex;
  position: relative;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 40px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  &:not(:placeholder-shown),
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.input-icon {
  width: 18px;
  height: 18px;

  position: absolute;
  top: 50%;
  left: 13px;
  transform: translate(0, -50%);

  .modal-input:focus + & {
    fill: var(--accent-color);
  }
}
.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 16px 12px;
  outline: none;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  &:focus {
    border: 1px solid var(--accent-color);
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
  }
}
.modal-field-license {
  display: flex;
  align-items: center;
  margin: 0 12px;
  margin-bottom: 30px;
}
.check-mark {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding-left: 25px;
}
.input-icon-check {
  position: absolute;
  top: 50%;
  left: 0;

  fill: #ffffff;

  width: 16px;
  height: 15px;
  transform: translate(0, -50%);

  border: 1px solid rgba(33, 33, 33, 1);

  .input-check:checked + .check-text & {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.policy-head {
  text-align: center;
  margin-left: 7px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
}
.policy-agreement {
  color: var(--accent-color);
  text-decoration: underline;
}
.submit-button {
  background-color: var(--accent-color);
  color: var(--btn-prime-color);

  width: 200px;
  height: 50px;
  padding: 10px 55px;
  border-radius: 4px;
  align-self: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    background-color: #188ce8;
  }
}
