:root {
  --font-family: Roboto, sans-serif;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --head-foot-bgcolor: #2f303a;
  --btn-prime-color: #ffffff;
  --btn-second-color: #f5f4fa;
  --greeting-words-color: #ffffff;
  --icons-color: #afb1b8;
  --footer-icons: #ffffff;
}
